.sidebar__container {
    position: sticky;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 0;
    width: 18rem;
    height: 100vh;
    background: #020327;
    padding: 4rem 0.6rem;
    transition: all 0.5s ease;
}
.admin__nav,
.sidemenu__bar {
    display: none;
}
.bar {
    margin: 5px auto;
    width: 25px;
    height: 3px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: black;
    border: none;
}
.sidebar__logo {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: white;
    padding-inline: 1rem;
    overflow: hidden;
}
.sidebar__logo span {
    font-size: 3rem;
    font-weight: 900;
}
.sidebar__container.close {
    width: 72px;
}
.arrow {
    cursor: pointer;
    position: absolute;
    top: 2rem;
    right: -1.7rem;
    padding: 0.5rem 0.5rem;
    width: 3rem;
    height: 3rem;
    display: grid;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    color: white;
    background: #624ae4;
}
.sidebar__wrapper {
    display: grid;
    gap: 1rem;
    text-align: center;
    overflow: hidden;
}
.sidebar__wrapper span {
    font-size: 1.9rem;
}
.side__link {
    cursor: pointer;
    display: flex;
    width: 18rem;
    align-items: center;
    gap: 1rem;
    font-weight: 900;
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 3px;
    color: white;
}
.side__link > * {
    color: white;
}
.side__link:hover {
    background-color: #007cff;
}
.sidebar__footer {
    margin-top: 3rem;
    overflow: hidden;
    width: 100%;

    p,
    button {
        cursor: pointer;
        display: flex;
        gap: 1.5rem;
        align-items: center;
        font-weight: bold;
        width: 18rem;
        background-color: transparent;
        color: white;
        padding: 0.5rem;
        border: none;
    }
    span {
        font-size: 1.9rem;
    }
    p:hover,
    button:hover {
        background-color: #007cff;
    }
}
@media only screen and (min-width: 320px) and (max-width: 800px) {
    .admin__nav {
        display: block;
        position: relative;
    }
    .sidebar__container {
        position: absolute;
        width: 100%;
        transform: translateX(-100%);
        transition: transform 350ms ease-in;
        z-index: 998;
    }
    .sidebar__container.showhamburger {
        transform: translateX(0%);
    }
    .sidebar__wrapper {
        text-align: center;
        height: fit-content;
        overflow: unset;
    }

    .sidebar__footer {
        margin-top: 1rem;
    }
    .sidebar__logo span,
    .side__link span,
    .arrow {
        display: none;
    }
    .side__link {
        width: 100%;
        justify-content: center;
    }
    .sidemenu__bar {
        position: absolute;
        cursor: pointer;
        display: block;
        margin-top: 1rem;
        margin-left: 1rem;
        z-index: 999;
    }
    .bar {
        width: 20px;
    }

    .sidemenu__bar.shownav .bar:nth-child(2) {
        opacity: 0;
    }
    .sidemenu__bar.shownav .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
        background-color: white;
    }
    .sidemenu__bar.shownav .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
        background-color: white;
    }
}
