.signup__btn {
    cursor: pointer;
    padding: 0.3rem 1rem;
    font-weight: bold;
    border-radius: 50px;
    border: none;
    color: #eee;
    background-color: var(--primary_btn);
}

.signup__container {
    position: fixed;
    display: grid;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0, 0.7);
    z-index: 999;
}
.signup__wrapper {
    width: 700px;
    height: 600px;
    margin: auto auto;
    border: 2px solid white;
    background-color: #eee;
    border-radius: 15px;
    padding: 2rem;
}
.signup__title {
    text-align: center;
    margin-bottom: 1rem;
}
.signup__form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    label {
        display: block;
        font-weight: 600;
    }
    input {
        height: 35px;
        width: 100%;
        padding-inline: 7px;
        border-radius: 5px;
        outline: none;
        border: none;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
            rgba(0, 0, 0, 0.23) 0px 3px 6px;
        margin-bottom: 0.5rem;
    }
    button {
        font-size: 18px;
        font-weight: bold;
        height: 40px;
        border-radius: 5px;
        border: none;
        background-color: var(--primary_btn);
        color: white;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
            rgba(0, 0, 0, 0.23) 0px 3px 6px;
    }
    button:hover {
        cursor: pointer;
        opacity: 0.9;
    }
    p {
        padding: 0.2rem 0.5rem;
        font-size: 12px;
        background-color: lightpink;
        color: firebrick;
    }
    span {
        cursor: pointer;
        font-weight: 600;
        color: var(--primary_btn);
    }
}
.signup_form_wrapper {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
}

.hide {
    display: none;
}

.valid {
    outline: none;
    color: black;
}
.invalid {
    outline: 1px solid red !important;
}
.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}
